


.header{
    background: white;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:3.5px solid black;
}
.left{
    display: flex;
    flex-direction: row;

    a{
        text-decoration: none;
    
    color: rgb(255, 255, 255);
    text-shadow:
      0 0 1.7px black,
       0 0 1.7px black,
        0 0 1.7px black, 0 0 1.7px black,
      3px  3px blue, 
      6px 6px yellow ,
      9px 9px  red;
    }
    h1 {
        padding-left: 0.5rem;
        line-height: 0.5;
        font-family: 'Shrikhand', cursive;
        
    }

    h1:hover{
        color: white;
        text-shadow:  
        0 0 1.7px black,
       0 0 1.7px black,
        0 0 1.7px black, 0 0 1.7px black,
      3px  3px blue, 
      6px 6px yellow ,
      9px 9px  red;

        transform: rotate(-0.5turn), rotate(0.5turn);
        transform: rotate(1turn);
        transition: all 2s ease-in;
        margin-top: 25px;
        margin-left: 10px;
        margin-right: -0.2rem;
        font-size: 30px;
    }
    img{
        margin-left: 0.5rem;
    }

}

.right{
    ul{
        margin-top: 1.1rem;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    li a{
        font-size: 20px;
        text-decoration: none;
        color: black;
        margin: 1rem;

    }


    li:hover{
        animation: floating 1.5s ease-in-out
        infinite;
 
    
       
       
    }
    a:hover{
        text-underline-offset: 4px;
        text-decoration: underline 6px yellow;
    }

    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }
}